h1 {
  color: #5179ba;
}

body {
  background-color: lightpink;
}

.list-item {
  font-family:arial;
}

#css-item {
  color: #5179ba;
}

#goal-list {
  border-style: solid;
  border-color: honeydew;
  width: 10%;
}

#picture {
  width: 60%;
  float: right;
  border: solid;
  border-color: black white black white;
    border-width: thick;
}
