h1 {
  color: #5179ba;
}



body {
  background-color: lightpink;
}

.list-item {
  font-family:arial;
}

#css-item {
  color: #5179ba;
}

#goal-list {
  /*width: 25%;*/
}

#picture {
  width: 300px;
  border: solid;
  border-color: black white black white;
    border-width: thick;
}
